* {
  box-sizing: border-box;
}
.banner {
  height: 100vmin;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 60px; */
}
.banner ::before {
  content: "";
  background-image: url("../Assets/try.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}
.banner > h2 {
  margin-bottom: 20px;
  color: white;
}
.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  color: black;
  padding: 1vmax;
  transition: all 0.5s;
  width: 10vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
  margin-bottom: 60px;
}
.homeHeading {
  text-align: center;
  font-size: 3vmax;
  color: rgba(21, 21, 21, 0.5);
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 30vmax;
  margin: 5vmax auto;
}
.container {
  display: flex;
  flex-direction: row;
  /* width: 90vw; */
  flex-wrap: wrap;
  /* margin: 2vmax auto; */
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5vmax;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .homeHeading {
    margin-top: 25vmax;
  }
}
@media screen and (max-width: 405px) {
  .homeHeading {
    margin-top: 48vmax;
  }
}
@media screen and (max-width: 468px) {
  .homeHeading {
    margin-top: 43vmax;
  }
}
@media screen and (max-width: 350px) {
  .homeHeading {
    margin-top: 70vmax;
  }
}

