.productDetails {
  background-color: white;
  /* background-color: rgb(227, 217, 217); */
  width: 100vw;
  max-width: 100%;
  padding: 5vmax;
  box-sizing: border-box;
  display: flex;
  padding-bottom: 0vmax;
}
.productDetails > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
  border: 1px solid white;
}
.productDetails > div:last-child {
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 4vmax 2vmax;
}
.carousel-container {
  width: 100%;
  width: 400px;
  margin: 0 4px;
}
.carousel-image {
  width: 100%;
  height: 500px;
}
.details-Block1 > h2 {
  color: rgb(54, 54, 54);
  font: 600 3vmax "Roboto";
  word-spacing: 3px;
}
.details-Block1 > p {
  color: rgba(54, 54, 54, 0.582);
  font: 200 1.5vmax cursive;
}
.details-Block2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 70%;
  /* padding: 1vmax 0; */
}
.details-Block2 > span {
  color: rgba(54, 54, 54, 0.582);
  font: 200 1.2vmax cursive;
  margin-top: 5px;
  margin-left: 11px;
}
.details-Block3 {
  width: 83%;
}
.details-Block3 > h1 {
  color: rgba(17, 17, 17, 0.795);
  /* font: 400 1.8vmax "Franklin Gothic Medium"; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 3vmax;
}
.details-Block3-1 {
  display: flex;
  align-items: center;
}
.details-Block3-1-1 {
  display: flex;
}
.details-Block3-1-1 > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1vmax;
  font-size: 1.5vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.details-Block3-1-1 > button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.details-Block3-1-1 > input {
  border: none;
  padding: 0.5vmax;
  width: 3vmax;
  text-align: center;
  outline: none;
  font: 400 1.8vmax "Roboto";
  color: rgba(0, 0, 0, 0.74);
}

.details-Block3-1 > button:last-child {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: #3a9dff;
  font-weight: bold;
  border-radius: 47px;
  padding: 1.1vmax 3vmax;
  margin-left: 4vmax;
  outline: none;
}

.details-Block3-1 > button:last-child:hover {
  background-color: #1560bd;
}
.details-Block4 {
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.5vmax sans-serif;
}
.details-Block4 > p {
  color: rgba(0, 0, 0, 0.897);
  font: 200 1vmax sans-serif;
}
.productDetails > div:last-child > button:last-child {
  border: none;
  background-color: #3a9dff;
  font: 00 2vmax "Roboto";
  border-radius: 20px;
  padding: 1vmax 2.5vmax;
  margin: 1vmax 0;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}
.productDetails > div:last-child > button:last-child:hover {
  background-color: #1560bd;
  transform: scale(1.1);
}
.reviewsHeading{
  color: black;
  font: 500 2vmax "Ubuntu";
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1vmax;
  width: 20vmax;
  margin: 1vmax auto;
}
.noReviews{
  font: 400 2vmax "Gill Sans";
  margin: 3vmax auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.548);
}
.reviews{
  display: flex;
  overflow: auto;
}

@media screen and (max-width: 640px) {
  .productDetails {
    flex-direction: column;
    padding: 3vmax;
  }
  .productDetails > div:last-child {
    padding: 2vmax 2vmax;
  }

  .details-Block1 > h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 4vmax;
  }
  .details-Block2 {
    margin: 3vmax 0;
  }
  .details-Block3 > h1 {
    font: 400 3.8vmax "Franklin Gothic Medium";
  }
  .details-Block3-1-1 > button {
    padding: 0.3vmax 1.5vmax;
    font-size: 4.5vmax;
  }
  .details-Block3-1-1 > input {
    width: 6vmax;
    font: 400 2.8vmax "Roboto";
  }
  .details-Block3-1 > button:last-child {
    padding: 2vmax 4vmax;
  }
  
  .details-Block2 {
    width: 105%;
  }
  .details-Block3 {
    width: 111%;
  }
  .details-Block4 {
    margin-top: 16px;
    font-size: 21px;
  }
  .details-Block4 > p {
    margin-bottom: 12px;
    font-size: 12px;
  }
  .productDetails > div:last-child > button:last-child {
    padding: 1.5vmax 2.5vmax;
  }
}
