.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #b9d9eb;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
}
.searchBox > input[type="text"],
.searchBox > input[type="submit"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 1vmax 2vmax;
  width: 50%;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font: 300 1.5vmax "DM Serif Display";
  box-sizing: border-box;
  height: 10%;
}

.searchBox > input[type="submit"] {
  background-color: #3a9dff;
  padding: 1vmax;
  width: 10%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  font: 300 1.5vmax "Roboto";
}

.searchBox > input[type="submit"] :hover {
  background-color: #1560bd;
}
