.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: rgb(244, 234, 234);
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
}
.searchBox > input[type="text"],
.searchBox > input[type="submit"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 1vmax 2vmax;
  width: 50%;
  outline: none;
  border-radius: 0%;
  font: 300 1.5vmax "Ubuntu";
  box-sizing: border-box;
  height: 10%;
}

.searchBox > input[type="submit"] {
  background-color: tomato;
  padding: 1vmax;
  width: 10%;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  font: 300 1.5vmax "Roboto";
}

.searchBox > input[type="submit"] :hover {
    background-color: lightcoral;
}
