.updateProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #b9d9eb;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
}
.updateProfileBox {
  width: 30vw;
  height: 70vh;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
}
.updateProfileBox > h2 {
  font: 400 2vmax "DM Serif Display";
  text-align: center;
  margin-top: 1.5vmax;
  border-bottom: 1px solid #3a9dff;
  width: 50%;
  margin: auto;
  margin-top: 2vmax;
  margin-bottom: 1.5vmax;
}

.updateProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
}

.updateProfileForm > div {
  display: flex;
  align-items: center;
  width: 100%;
}
.updateProfileForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.278);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}
.updateProfileForm > div > input {
  margin: 1vmax 0;
}
.updateProfileForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.678);
}
.updateProfileImage > img {
  width: 5vmax;
  height: 4vmax;
  border-radius: 100%;
}
.updateProfileImage > input {
  display: flex;
  padding: 0%;
}
.updateProfileImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  height: 5vmax;
  margin: 0%;
  z-index: 2;
  height: 5vh;
  border: none;
  font: 600 1.5vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.678);
  background-color: rgb(255, 255, 255);
}
.updateProfileBtn {
  border: none;
  background-color: #3a9dff;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  margin-top: 2.5vmax;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.278);
  cursor: pointer;
}
.updateProfileBtn:hover {
  background-color: #1560bd;
}
@media screen and (max-width: 600px) {
  .updateProfileContainer {
    background-color: white;
    margin-top: vmax;
  }
  .updateProfileBox {
    width: 100vw;
    height: 95vh;
    padding: 4vmax;
  }
  .updateProfile {
    padding: 5vmax;
  }
  .updateProfileForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }
  .updateProfileForm > div > svg {
    font-size: 3vmax;
  }
  .updateProfileImage > img {
    width: 8vmax;
    border-radius: 100%;
  }
  .updateProfileImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
  }
  .updateProfileBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
